<section class="h-screen overflow-x-auto bg-black bg-opacity-50">
    <div class="flex">
      <div class="w-1/2"></div>
      <div class="animate-slide-in-right w-3/4 border bg-white shadow-xl">
        <div class="flex items-center justify-between border bg-purple-50">
          <div class="m-4">
            <button (click)="closeVendor.emit(false)">
              <svg
                class="h-8 w-8 rounded-lg bg-gray-100 p-1 text-gray-600 transition-all duration-500 hover:bg-red-600 hover:text-white dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  class=""
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18 17.94 6M18 18 6.06 6"
                />
              </svg>
            </button>
          </div>
          <div class="mr-4">
            <h1 class="text-xl font-semibold text-purple-800">View Customer Address</h1>
          </div>
        </div>
  
        <!-- form f -->
  
        <form [formGroup]="UpdateVendorForm" class="p-8">
          <!-- ddddd -->
          <div class="p-4 md:px-10 md:pb-2 md:pt-6">
            <div class="grid gap-6 md:grid-cols-6">
              
              <!-- <div class="col-span-3">
                <label
                  class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                  >Branch Name</label
                >
                <div class="relative">
                  <select
                    #branchId
                    formControlName="branchId"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                  >
                    <option
                      *ngFor="let branch of _BranchName"
                      value="{{ branch.branchId }}"
                    >
                      {{ branch.branchName }}
                    </option>
                  </select>
                </div>
              </div> -->
            </div>
  
            <div class="mb-2">
              <label
                for="Address"
                class="mb-2 block text-sm text-center font-medium text-gray-900 dark:text-white"
                >Billing Address</label
              >
            </div>
            <div
            formArrayName="addresses"
            class="flex flex-wrap gap-4"
            >
              <div
                *ngFor="let bank of addresses.controls; let i = index"
                class="w-full"
              >
                <div [formGroupName]="i" class="">
                  <div class="mb-2 w-full">
                    <input
                      type="text"
                      class="input-form"
                      formControlName="billingAddress1"
                      autocomplete="street-address"
                      placeholder="Flat, House no., Building, Company, Apartment"
                      [ngClass]="{
                        error:
                          UpdateVendorForm.get('billingAddress1')?.invalid &&
                          UpdateVendorForm.get('billingAddress1')?.touched
                      }"
                      required
                    />
                    <small
                      *ngIf="
                        UpdateVendorForm?.get('billingAddress1')?.invalid &&
                        UpdateVendorForm?.get('billingAddress1')?.touched
                      "
                      class="text-danger text-red-600"
                    >
                      Address Should be atleast 10 characters!
                    </small>
                  </div>
                  <div class="mb-6">
                    <input
                      type="text"
                      formControlName="billingAddress2"
                      autocomplete="street-address-level2"
                      class="input-form"
                      placeholder="Area, Street, Sector, Village"
                      [ngClass]="{
                        error:
                          UpdateVendorForm.get('billingAddress2')?.invalid &&
                          UpdateVendorForm.get('billingAddress2')?.touched
                      }"
                      required
                    />
                    <small
                      *ngIf="
                        UpdateVendorForm?.get('billingAddress2')?.invalid &&
                        UpdateVendorForm?.get('billingAddress2')?.touched
                      "
                      class="text-danger text-red-600"
                    >
                      Address line 2 Should be empty !
                    </small>
                  </div>
                  <div class="mb-6 grid gap-6 md:grid-cols-2">
                    <div>
                      <label
                        for="Country"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Country/Region</label
                      >
                      <input
                        type="text"
                        formControlName="billingCountry"
                        class="input-form"
                        placeholder="country"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                            UpdateVendorForm.get('billingCountry')?.invalid &&
                            UpdateVendorForm.get('billingCountry')?.touched
                        }"
                        required
                      />
                      <small
                        *ngIf="
                          UpdateVendorForm?.get('billingCountry')?.invalid &&
                          UpdateVendorForm?.get('billingCountry')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        Country Should not be Empty!
                      </small>
                    </div>
                    <div>
                      <label
                        for="State"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >State</label
                      >
                      <input
                        type="text"
                        formControlName="billingState"
                        class="input-form"
                        placeholder="State"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                            UpdateVendorForm.get('billingState')?.invalid &&
                            UpdateVendorForm.get('billingState')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          UpdateVendorForm?.get('billingState')?.invalid &&
                          UpdateVendorForm?.get('billingState')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        State Should not be empty!
                      </small>
                    </div>
        
                    <div>
                      <label
                        for="city"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Town/City</label
                      >
                      <input
                        type="text"
                        formControlName="billingCity"
                        class="input-form"
                        placeholder="City"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                            UpdateVendorForm.get('billingCity')?.invalid &&
                            UpdateVendorForm.get('billingCity')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          UpdateVendorForm?.get('billingCity')?.invalid &&
                          UpdateVendorForm?.get('billingCity')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        City should not be empty!
                      </small>
                    </div>
                    <div>
                      <label
                        for="Pincode"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Pincode</label
                      >
                      <input
                        type="number"
                        formControlName="billingPincode"
                        class="input-form"
                        autocomplete="postal-code"
                        placeholder="000 000"
                        [ngClass]="{
                          error:
                            UpdateVendorForm.get('billingPincode')?.invalid &&
                            UpdateVendorForm.get('billingPincode')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          UpdateVendorForm?.get('billingPincode')?.invalid &&
                          UpdateVendorForm?.get('billingPincode')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        Invalid pincode!
                      </small>
                    </div>
                  </div>
                  <div class="mt-4 mb-6">
                    <input type="checkbox" id="sameAsBilling{{i}}" (change)="useBillingAddress($event, i)" />
                    <label for="sameAsBilling{{i}}" class="ml-2 text-sm text-gray-700 dark:text-gray-300">
                      Use same as billing address
                    </label>
                  </div>
                  <div class="mb-2">
                    <label
                      for="Address"
                      class="mb-2 block text-sm text-center font-medium text-gray-900 dark:text-white"
                      >Shipping Address</label
                    >
        
                    <input
                      type="text"
                      class="input-form"
                      formControlName="shippingAddress1"
                      autocomplete="street-address"
                      placeholder="Flat, House no., Building, Company, Apartment"
                      [ngClass]="{
                        error:
                        UpdateVendorForm.get('shippingAddress1')?.invalid &&
                        UpdateVendorForm.get('shippingAddress1')?.touched
                      }"
                      required
                    />
                    <small
                      *ngIf="
                        UpdateVendorForm?.get('shippingAddress1')?.invalid &&
                        UpdateVendorForm?.get('shippingAddress1')?.touched
                      "
                      class="text-danger text-red-600"
                    >
                      Address Should be atleast 10 characters!
                    </small>
                  </div>
                  <div class="mb-6">
                    <input
                      type="text"
                      formControlName="shippingAddress2"
                      autocomplete="street-address-level2"
                      class="input-form"
                      placeholder="Area, Street, Sector, Village"
                      [ngClass]="{
                        error:
                        UpdateVendorForm.get('shippingAddress2')?.invalid &&
                        UpdateVendorForm.get('shippingAddress2')?.touched
                      }"
                      required
                    />
                    <small
                      *ngIf="
                        UpdateVendorForm?.get('shippingAddress2')?.invalid &&
                        UpdateVendorForm?.get('shippingAddress2')?.touched
                      "
                      class="text-danger text-red-600"
                    >
                      Address line 2 Should not be empty!
                    </small>
                  </div>
                  <div class="mb-6 grid gap-6 md:grid-cols-2">
                    <div>
                      <label
                        for="Country"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Country/Region</label
                      >
                      <input
                        type="text"
                        formControlName="shippingCountry"
                        class="input-form"
                        placeholder="country"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                          UpdateVendorForm.get('shippingCountry')?.invalid &&
                          UpdateVendorForm.get('shippingCountry')?.touched
                        }"
                        required
                      />
                      <small
                        *ngIf="
                          UpdateVendorForm?.get('shippingCountry')?.invalid &&
                          UpdateVendorForm?.get('shippingCountry')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        Country Should not be Empty!
                      </small>
                    </div>
                    <div>
                      <label
                        for="State"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >State</label
                      >
                      <input
                        type="text"
                        formControlName="shippingState"
                        class="input-form"
                        placeholder="State"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                          UpdateVendorForm.get('shippingState')?.invalid &&
                          UpdateVendorForm.get('shippingState')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          UpdateVendorForm?.get('shippingState')?.invalid &&
                          UpdateVendorForm?.get('shippingState')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        State Should not be empty!
                      </small>
                    </div>
        
                    <div>
                      <label
                        for="city"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Town/City</label
                      >
                      <input
                        type="text"
                        formControlName="shippingCity"
                        class="input-form"
                        placeholder="City"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                          UpdateVendorForm.get('shippingCity')?.invalid &&
                          UpdateVendorForm.get('shippingCity')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          UpdateVendorForm?.get('shippingCity')?.invalid &&
                          UpdateVendorForm?.get('shippingCity')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        City should not be empty!
                      </small>
                    </div>
                    <div>
                      <label
                        for="Pincode"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Pincode</label
                      >
                      <input
                        type="number"
                        formControlName="shippingPincode"
                        class="input-form"
                        autocomplete="postal-code"
                        placeholder="000 000"
                        [ngClass]="{
                          error:
                          UpdateVendorForm.get('shippingPincode')?.invalid &&
                          UpdateVendorForm.get('shippingPincode')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          UpdateVendorForm?.get('shippingPincode')?.invalid &&
                          UpdateVendorForm?.get('shippingPincode')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        Invalid pincode!
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              </div>
  
              
            
              
            
              
              
              <!-- here  till-->
            <!-- <div class="col-span-full mb-3 flex justify-between">
              <h1 class="text-xl font-semibold text-purple-800">Bank Details</h1>
            </div> -->
  
            
          </div>
          <div class="mt-8 flex justify-end gap-4">           
            <div>
              <button
                (click)="updateCustomerAddressDetails(addresses.value)"
                type="submit"
                class="me-2 rounded-lg bg-green-600 px-5 py-2.5 text-sm font-medium text-white transition-all duration-500 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-600 dark:focus:ring-green-800"
              >
                <svg
                  *ngIf="isSaveIcon"
                  class="mr-1 inline-flex h-5 w-5 items-center justify-center text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
  
                Save
              </button>
            </div>
  
            
          </div>
        </form>
      </div>
    </div>
  </section>

  