<div
  class="ml-64 bg-cover bg-fixed"
  style="background-image: url(../../../../assets/Img/backgroundimag.jpg)"
>
  <div class="bg-opacity-70 bg-gradient-to-r from-purple-100">
    <!-- Section with scrolling method -->
    <section>
      <div class="mx-auto max-w-screen-xl py-12">
        <!-- Your content here -->
        <div>
          <section class="py-28">
            <div
              class="mx-auto max-w-screen-xl items-center justify-between gap-x-12 overflow-hidden text-white md:flex md:px-8"
            >
              <div
                class="flex-none space-y-5 px-4 sm:max-w-lg md:px-0 lg:max-w-xl"
              >
                <h1 class="text-sm font-medium text-black">
                  Over 2 Million people
                </h1>
                <h2
                  class="animate__animated space-y-14 text-xl font-extrabold text-purple-800 md:text-4xl"
                >
                  Transforming Disabilities into Abilities
                </h2>
                <p class="text-gray-900">
                  Dedicated to championing the rights and empowerment of
                  individuals with disabilities.
                </p>
                <!-- <div class="items-center gap-x-3 space-y-3 sm:flex sm:space-y-0">
                                    <a href="javascript:void(0)"
                                        class="block py-2 px-4 text-center text-white font-medium bg-purple-700 duration-150 hover:bg-purple-900 active:bg-purple-400 rounded-lg shadow-lg hover:shadow-none">
                                        Let's get started
                                    </a>
                                    <a href="javascript:void(0)"
                                        class="flex items-center justify-center gap-x-2 py-2 px-4 text-black hover:text-purple-900 font-medium duration-150 active:bg-gray-100 border rounded-lg md:inline-flex">Get
                                        access<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" class="w-5 h-5">
                                            <path fill-rule="evenodd"
                                                d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                    </a>
                                </div> -->
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>

  <!-- </div> -->

  <div class="bg-white">
    <div class="mx-20 flex justify-between py-20">
      <div class="w-1/2">
        <h1
          class="w-90 h-15 m-50 animate__animated slide-in-left space-y-14 text-left text-3xl font-bold text-purple-800"
        >
          The Association of People with Disability
        </h1>
        <br /><br />

        <p class="text-left text-lg text-gray-600">
          Our NGO empowers individuals with disabilities, ensuring equal
          opportunities for all. Through education, vocational training,
          healthcare, and assistive technologies, we break barriers to
          success.<br /><br />

          We champion inclusivity and diversity, fostering acceptance and
          understanding. Join us in creating a world where disabilities are
          opportunities, not limitations. Together, let's build a supportive
          future for everyone.
          <br /><br />

          <span class="mt-6 flex items-center space-x-2">
            <img
              class="h-16 w-16"
              src="../../../../assets/Img/handshack.png"
              alt=""
            />
            <b>Join us as we work together to create a more inclusive world.</b>
          </span>
        </p>
      </div>
      <div class="flex w-1/2 items-center justify-center">
        <div class="rounded-lg">
          <img
            class="hover:animate-zoom-in relative w-80 max-w-sm cursor-pointer space-y-14 rounded-3xl grayscale filter transition-all duration-300 backdrop:shadow-lg hover:blur-none hover:grayscale-0"
            src="../../../../assets/Img/child-ready-help-her-disabled-parent.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Other sections or content -->
</div>
