<section class="">
    <div class="p-4 sm:ml-64">
      <div class="md:flex md:justify-center">
        <form class="md:w-2/3" [formGroup]="addVendorForm">
          <div class="p-4 md:px-10 md:pb-2 md:pt-6">
            <div class="mb-6 flex justify-between">
              <h1 class="text-xl font-semibold text-purple-800">
                Customer Details
              </h1>
              <button routerLink="/home/customerList">
                <svg
                  class="h-8 w-8 rounded-lg bg-gray-100 p-1 text-gray-600 transition-all duration-500 hover:bg-red-600 hover:text-white dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    class=""
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18 17.94 6M18 18 6.06 6"
                  />
                </svg>
              </button>
            </div>
            <div class="mb-6 grid gap-6 md:grid-cols-6">
              <div class="col-span-3">
                <label
                  for="first_name"
                  class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                  >Customer Name</label
                >
                <input
                  type="text"
                  formControlName="customerName"
                  class="input-form"
                  placeholder="John"
                  appFirstCapLetter
                  [ngClass]="{
                    error:
                      addVendorForm.get('customerName')?.invalid &&
                      addVendorForm.get('customerName')?.touched
                  }"
                  required
                />
                <small
                  *ngIf="
                    addVendorForm?.get('customerName')?.invalid &&
                    addVendorForm?.get('customerName')?.touched
                  "
                  class="text-danger text-red-600"
                >
                  Vendor Name Should not be Empty!
                </small>
              </div>
              <div class="col-span-3">
                <label
                  for="email-address-icon"
                  class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                  >Customer Email</label
                >
                <div class="relative">
                  <div
                    class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5"
                  >
                    <svg
                      class="h-4 w-4 text-gray-500 dark:text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 20 16"
                    >
                      <path
                        d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                      />
                      <path
                        d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                      />
                    </svg>
                  </div>
                  <input
                    type="email"
                    #email
                    formControlName="contactEmail"
                    class="icon-input"
                    autocomplete="email"
                    placeholder="name@company.com"
                    [ngClass]="{
                      error:
                        addVendorForm.get('contactEmail')?.invalid &&
                        addVendorForm.get('contactEmail')?.touched
                    }"
                    required
                  />
                </div>
                <small
                  *ngIf="
                    addVendorForm?.get('contactEmail')?.invalid &&
                    addVendorForm?.get('contactEmail')?.touched
                  "
                  class="text-danger text-red-600"
                >
                  Invalid Email!
                </small>
              </div>
              <div class="col-span-3">
                <label
                  for="last_name"
                  class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                  >Contact Person Name</label
                >
                <input
                  type="text"
                  formControlName="contactPerson"
                  class="input-form"
                  placeholder="Doe"
                  appFirstCapLetter
                  [ngClass]="{
                    error:
                      addVendorForm.get('contactPerson')?.invalid &&
                      addVendorForm.get('contactPerson')?.touched
                  }"
                  required
                />
                <small
                  *ngIf="
                    addVendorForm?.get('contactPerson')?.invalid &&
                    addVendorForm?.get('contactPerson')?.touched
                  "
                  class="text-danger text-red-600"
                >
                  Contact Person Name Should not be Empty!
                </small>
              </div>
  
              <div class="col-span-3">
                <label
                  class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                  >Contact Person Number</label
                >
                <div class="relative">
                  <div
                    class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5"
                  >
                    <svg
                      class="h-5 w-5 text-gray-500 dark:text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M7.978 4a2.553 2.553 0 0 0-1.926.877C4.233 6.7 3.699 8.751 4.153 10.814c.44 1.995 1.778 3.893 3.456 5.572 1.68 1.679 3.577 3.018 5.57 3.459 2.062.456 4.115-.073 5.94-1.885a2.556 2.556 0 0 0 .001-3.861l-1.21-1.21a2.689 2.689 0 0 0-3.802 0l-.617.618a.806.806 0 0 1-1.14 0l-1.854-1.855a.807.807 0 0 1 0-1.14l.618-.62a2.692 2.692 0 0 0 0-3.803l-1.21-1.211A2.555 2.555 0 0 0 7.978 4Z"
                      />
                    </svg>
                  </div>
                  <input
                    type="number"
                    #phone
                    class="icon-input"
                    autocomplete="phone"
                    formControlName="contactPhone"
                    placeholder="123-456-970"
                    [ngClass]="{
                      error:
                        addVendorForm.get('contactPhone')?.invalid &&
                        addVendorForm.get('contactPhone')?.touched
                    }"
                    required
                  />
                  </div>
                  <small *ngIf="
                    addVendorForm.get('contactPhone')?.invalid &&
                    addVendorForm.get('contactPhone')?.touched
                  "
                  class="text-danger text-red-600">
                  Contact Person Number must be 10 digits.
                  </small>     
              </div>
              <!-- <div class="col-span-3">
                <label
                  class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                  >Branch Name</label
                >
                <div class="relative">
                  <select
                    #branchId
                    formControlName="branchId"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                  >
                    <option
                      *ngFor="let branch of _BranchName"
                      value="{{ branch.branchId }}"
                    >
                      {{ branch.branchName }}
                    </option>
                  </select>
                </div>
              </div> -->
            </div>
  
            <div class="mb-2">
              <label
                for="Address"
                class="mb-2 block text-sm text-center font-medium text-gray-900 dark:text-white"
                >Billing Address</label
              >
            </div>
            <div
            formArrayName="addresses"
            class="flex flex-wrap gap-4"
            >
              <div
                *ngFor="let bank of addresses.controls; let i = index"
                class="w-full"
              >
                <div [formGroupName]="i" class="">
                  <div class="mb-2 w-full">
                    <input
                      type="text"
                      class="input-form"
                      formControlName="billingAddress1"
                      autocomplete="street-address"
                      placeholder="Flat, House no., Building, Company, Apartment"
                      [ngClass]="{
                        error:
                          addVendorForm.get('billingAddress1')?.invalid &&
                          addVendorForm.get('billingAddress1')?.touched
                      }"
                      required
                    />
                    <small
                      *ngIf="
                        addVendorForm?.get('billingAddress1')?.invalid &&
                        addVendorForm?.get('billingAddress1')?.touched
                      "
                      class="text-danger text-red-600"
                    >
                      Address Should be atleast 10 characters!
                    </small>
                  </div>
  
              

                  <div class="mb-6">
                    <input
                      type="text"
                      formControlName="billingAddress2"
                      autocomplete="street-address-level2"
                      class="input-form"
                      placeholder="Area, Street, Sector, Village"
                      [ngClass]="{
                        error:
                          addVendorForm.get('billingAddress2')?.invalid &&
                          addVendorForm.get('billingAddress2')?.touched
                      }"
                      required
                    />
                    <small
                      *ngIf="
                        addVendorForm?.get('billingAddress2')?.invalid &&
                        addVendorForm?.get('billingAddress2')?.touched
                      "
                      class="text-danger text-red-600"
                    >
                      Address line 2 Should not be empty!
                    </small>
                  </div>
  
                  <div class="mb-6 grid gap-6 md:grid-cols-2">
                    <div>
                      <label
                        for="Country"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Country/Region</label
                      >
                      <input
                        type="text"
                        formControlName="billingCountry"
                        class="input-form"
                        placeholder="country"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                            addVendorForm.get('billingCountry')?.invalid &&
                            addVendorForm.get('billingCountry')?.touched
                        }"
                        required
                      />
                      <small
                        *ngIf="
                          addVendorForm?.get('billingCountry')?.invalid &&
                          addVendorForm?.get('billingCountry')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        Country Should not be Empty!
                      </small>
                    </div>
                    <div>
                      <label
                        for="State"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >State</label
                      >
                      <input
                        type="text"
                        formControlName="billingState"
                        class="input-form"
                        placeholder="State"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                            addVendorForm.get('billingState')?.invalid &&
                            addVendorForm.get('billingState')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          addVendorForm?.get('billingState')?.invalid &&
                          addVendorForm?.get('billingState')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        State Should not be empty!
                      </small>
                    </div>
        
                    <div>
                      <label
                        for="city"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Town/City</label
                      >
                      <input
                        type="text"
                        formControlName="billingCity"
                        class="input-form"
                        placeholder="City"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                            addVendorForm.get('billingCity')?.invalid &&
                            addVendorForm.get('billingCity')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          addVendorForm?.get('billingCity')?.invalid &&
                          addVendorForm?.get('billingCity')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        City should not be empty!
                      </small>
                    </div>
                    <div>
                      <label
                        for="Pincode"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Pincode</label
                      >
                      <input
                        type="number"
                        formControlName="billingPincode"
                        class="input-form"
                        autocomplete="postal-code"
                        placeholder="000 000"
                        [ngClass]="{
                          error:
                            addVendorForm.get('billingPincode')?.invalid &&
                            addVendorForm.get('billingPincode')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          addVendorForm?.get('billingPincode')?.invalid &&
                          addVendorForm?.get('billingPincode')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        Invalid pincode!
                      </small>
                    </div>
                  </div>
                  <div class="mt-4 mb-6">
                    <input type="checkbox" id="sameAsBilling{{i}}" (change)="useBillingAddress($event, i)" />
                    <label for="sameAsBilling{{i}}" class="ml-2 text-sm text-gray-700 dark:text-gray-300">
                      Use same as billing address
                    </label>
                  </div>

                  <div class="mb-2">
                    <label
                      for="Address"
                      class="mb-2 block text-sm text-center font-medium text-gray-900 dark:text-white"
                      >Shipping Address</label
                    >
        
                    <input
                      type="text"
                      class="input-form"
                      formControlName="shippingAddress1"
                      autocomplete="street-address"
                      placeholder="Flat, House no., Building, Company, Apartment"
                      [ngClass]="{
                        error:
                          addVendorForm.get('shippingAddress1')?.invalid &&
                          addVendorForm.get('shippingAddress1')?.touched
                      }"
                      required
                    />
                    <small
                      *ngIf="
                        addVendorForm?.get('shippingAddress1')?.invalid &&
                        addVendorForm?.get('shippingAddress1')?.touched
                      "
                      class="text-danger text-red-600"
                    >
                      Address Should be atleast 10 characters!
                    </small>
                  </div>
                  <div class="mb-6">
                    <input
                      type="text"
                      formControlName="shippingAddress2"
                      autocomplete="street-address-level2"
                      class="input-form"
                      placeholder="Area, Street, Sector, Village"
                      [ngClass]="{
                        error:
                          addVendorForm.get('shippingAddress2')?.invalid &&
                          addVendorForm.get('shippingAddress2')?.touched
                      }"
                      required
                    />
                    <small
                      *ngIf="
                        addVendorForm?.get('shippingAddress2')?.invalid &&
                        addVendorForm?.get('shippingAddress2')?.touched
                      "
                      class="text-danger text-red-600"
                    >
                      Address line 2 Should not be empty!
                    </small>
                  </div>
                  <div class="mb-6 grid gap-6 md:grid-cols-2">
                    <div>
                      <label
                        for="Country"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Country/Region</label
                      >
                      <input
                        type="text"
                        formControlName="shippingCountry"
                        class="input-form"
                        placeholder="country"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                            addVendorForm.get('shippingCountry')?.invalid &&
                            addVendorForm.get('shippingCountry')?.touched
                        }"
                        required
                      />
                      <small
                        *ngIf="
                          addVendorForm?.get('shippingCountry')?.invalid &&
                          addVendorForm?.get('shippingCountry')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        Country Should not be Empty!
                      </small>
                    </div>
                    <div>
                      <label
                        for="State"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >State</label
                      >
                      <input
                        type="text"
                        formControlName="shippingState"
                        class="input-form"
                        placeholder="State"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                            addVendorForm.get('shippingState')?.invalid &&
                            addVendorForm.get('shippingState')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          addVendorForm?.get('shippingState')?.invalid &&
                          addVendorForm?.get('shippingState')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        State Should not be empty!
                      </small>
                    </div>
        
                    <div>
                      <label
                        for="city"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Town/City</label
                      >
                      <input
                        type="text"
                        formControlName="shippingCity"
                        class="input-form"
                        placeholder="City"
                        appFirstCapLetter
                        [ngClass]="{
                          error:
                            addVendorForm.get('shippingCity')?.invalid &&
                            addVendorForm.get('shippingCity')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          addVendorForm?.get('shippingCity')?.invalid &&
                          addVendorForm?.get('shippingCity')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        City should not be empty!
                      </small>
                    </div>
                    <div>
                      <label
                        for="Pincode"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Pincode</label
                      >
                      <input
                        type="number"
                        formControlName="shippingPincode"
                        class="input-form"
                        autocomplete="postal-code"
                        placeholder="000 000"
                        [ngClass]="{
                          error:
                            addVendorForm.get('shippingPincode')?.invalid &&
                            addVendorForm.get('shippingPincode')?.touched
                        }"
                        required
                      />
        
                      <small
                        *ngIf="
                          addVendorForm?.get('shippingPincode')?.invalid &&
                          addVendorForm?.get('shippingPincode')?.touched
                        "
                        class="text-danger text-red-600"
                      >
                        Invalid pincode!
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
            
              
    
              
            <div class="mb-6 grid gap-6 md:grid-cols-2">
              <div class="col-span-full flex justify-between">
                  <h1 class="text-xl font-semibold text-purple-800">
                    Business Details
                  </h1>
              </div>
              <div>
                <label
                  for="city"
                  class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                  >GST Number</label
                >
                <input
                  type="text"
                  formControlName="customerGst"
                  class="input-form"
                  placeholder="22ABCDE1234G8HJ"
                  appFirstCapLetter
                  [ngClass]="{
                    error:
                      addVendorForm.get('customerGst')?.invalid &&
                      addVendorForm.get('customerGst')?.touched
                  }"
                  required
                />
  
                <small
                  *ngIf="
                    addVendorForm?.get('customerGst')?.invalid &&
                    addVendorForm?.get('customerGst')?.touched
                  "
                  class="text-danger text-red-600"
                >
                  GST Number should not be empty!
                </small>
              </div>
            </div>
  
            <!-- <div class="col-span-full mb-3 flex justify-between">
              <h1 class="text-xl font-semibold text-purple-800">Bank Details</h1>
            </div> -->
  
            <div
              formArrayName="addresses"
              class="flex flex-wrap gap-4"
            >
              <div
                *ngFor="let bank of addresses.controls; let i = index"
                class="w-full"
              >
                <div [formGroupName]="i" class="flex items-center gap-4">
                  <!-- <div class="flex-1">
                    <label
                      for="ifscCode"
                      class="block text-sm font-medium text-gray-900 dark:text-white"
                      >IFSC Code</label
                    >
                    <input
                      id="ifscCode"
                      type="text"
                      formControlName="ifsCode"
                      class="input-form"
                      placeholder=""
                      appFirstCapLetter
                      [ngClass]="{
                        error:
                          addVendorForm.get('ifsCode')?.invalid &&
                          addVendorForm.get('ifsCode')?.touched
                      }"
                      required
                    />
                    <small
                      *ngIf="
                        addVendorForm?.get('ifsCode')?.invalid &&
                        addVendorForm?.get('ifsCode')?.touched
                      "
                      class="text-danger text-red-600"
                    >
                      Invalid IFSC!
                    </small>
                  </div> -->
                  <!-- <div class="flex-1">
                    <label
                      for="bankAccNo"
                      class="block text-sm font-medium text-gray-900 dark:text-white"
                      >Account Number</label
                    >
                    <input
                      id="bankAccNo"
                      type="number"
                      formControlName="bankAccNo"
                      class="input-form"
                      autocomplete="postal-code"
                      placeholder=""
                      [ngClass]="{
                        error:
                          addVendorForm.get('bankAccNo')?.invalid &&
                          addVendorForm.get('bankAccNo')?.touched
                      }"
                      required
                    />
                    <small
                      *ngIf="
                        addVendorForm?.get('bankAccNo')?.invalid &&
                        addVendorForm?.get('bankAccNo')?.touched
                      "
                      class="text-danger text-red-600"
                    >
                      Invalid Account Number!
                    </small>
                  </div> -->
                </div>
              </div>
            </div>
  
            <div class="mt-6 flex items-center justify-end gap-x-6">
              <button
                type="button"
                (click)="this.addVendorForm.reset()"
                class="text-sm font-semibold leading-6 text-gray-900 dark:text-gray-200"
              >
                Cancel
              </button>
  
              <button
                type="button"
                routerLink="/home/customerList"
                (click)="submitVendorDetails(addVendorForm.value)"
                [disabled]="addVendorForm.invalid"
                [ngClass]="{
                  'bg-gray-400':
                    addVendorForm.invalid,
                  'hover:bg-gray-400':
                    addVendorForm.invalid
                }"
                class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  