<section class="">
    <div class="p-4 sm:ml-64">
      <div class="mx-32 mt-4 items-center justify-center">
        <div class="relative h-full md:h-auto">
          <!-- Modal content -->
          <div class="relative rounded-lg dark:bg-gray-800">
            <!-- Modal header -->
            <div class="mb-4 flex items-center justify-between rounded-t sm:mb-5">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                <!-- Inward Header -->
              </h3>
              <!-- <button
                type="button"
                routerLink="/home/productList"
                class="an ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-red-600 hover:text-white dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-toggle="defaultModal"
              >
                <svg
                  aria-hidden="true"
                  class="h-5 w-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span class="sr-only">Close modal</span>
              </button> -->
            </div>
  
            <form *ngIf="!header" [formGroup]="inwardForm">
              <div class="mb-4 grid gap-4 sm:grid-cols-8">
                <div class="col-span-4">
                  <div>
                    <label
                      for="Branch"
                      class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                      >Transaction Type
                    </label>
                    <select
                      #catid
                      formControlName="inwardFromCode"
                      class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                      required
                    >
                      <option
                        value=""
                        null
                        disabled
                        class="bg-purple-700 text-white"
                      >
                        Choose Txn Type
                      </option>
                      <option value="268">Inward</option>
                      <option value="269">Outward</option>
                    </select>
                  </div>
                </div>

                <div class="col-span-4">
                  <label
                    for="category"
                    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                    >Choose Date</label
                  >
                  <input
                    type="date"
                    formControlName="createdDate"
                    [max]="today"
                    class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                    placeholder=""
                    required
                  />
  
                  <small class="text-danger text-red-600"> </small>
                </div>
                
                <div
                  *ngIf="inwardForm.get('inwardFromCode')?.value == 269"
                  class="col-span-6"
                >
                  <div class="flex items-center gap-2">
                    <label
                      for="Branch"
                      class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                    >
                      From</label
                    >
                  </div>
                  <input
                    type="text"
                    value="Cloute Technologies Private Limited"
                    class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                    readonly
                  />
                
                  <div
                    *ngIf="inwardForm.get('inwardFromCode')?.value"
                    class="col-span-6 mt-4"
                  >
                    <div class="flex items-center gap-2">
                      <label
                        for="Branch"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >To</label
                      >
                    </div>
    
                    <div class="flex gap-2">
                      <input
                          type="text"
                          formControlName="CustomerOrVendor"
                          class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                          placeholder=""
                          required
                        />
                        <div *ngIf="noCustomer" class="absolute mt-11 text-sm text-red-600">
                          <small>No Customer found.</small>
                        </div>
                        <ul 
                          *ngIf="customerList && 
                          customerList.length > 0 &&
                          inwardForm.get('inwardFromCode')?.value == 268 || 
                          inwardForm.get('inwardFromCode')?.value == 269" 
                          class="absolute border-none z-10 w-3/4 mt-10 bg-white rounded-lg border border-gray-300 shadow-lg dark:bg-gray-700 dark:border-gray-600"
                          >
                          <li 
                            *ngFor="let cus of customerList"
                            (click)="onSelectCustomer(cus)"
                            class="px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100 dark:text-white dark:hover:bg-gray-600"
                            >
                              <ng-container *ngIf="inwardForm.get('inwardFromCode')?.value == 269">
                                {{cus.customerName}}
                              </ng-container>
                              <!-- <ng-container *ngIf="inwardForm.get('inwardFromCode')?.value == 269">
                                {{ven.productName}} - Qty:{{ven.productQuantity}}
                              </ng-container> -->
                          </li>
                        </ul>
                      <!-- <select
                        #id
                        formControlName="CustomerOrVendor"
                        class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                        required
                      >
                        
                        <option
                          *ngFor="let cus of customerList"
                          [ngValue]="cus.customerId"
                        >
                          {{ cus.customerName }}
                        </option>
                      </select> -->
                    </div>
                  </div>
                </div>
                
                <div
                  *ngIf="inwardForm.get('inwardFromCode')?.value == 268"
                  class="col-span-6"
                >
                  <div class="flex items-center gap-2">
                    <label
                      for="Branch"
                      class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                    >
                      From</label
                    >
                  </div>
                  <div class="flex gap-2">
                    <input
                          type="text"
                          formControlName="CustomerOrVendor"
                          class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                          placeholder=""
                          required
                        />
                        <div *ngIf="noVendor" class="absolute mt-11 text-sm text-red-600">
                          <small>No Vendor found.</small>
                        </div>
                        <ul 
                          *ngIf="vendorList && 
                          vendorList.length > 0 &&
                          inwardForm.get('inwardFromCode')?.value == 268 || 
                          inwardForm.get('inwardFromCode')?.value == 269" 
                          class="absolute z-10 w-3/4 mt-10 bg-white rounded-lg border border-gray-300 shadow-lg dark:bg-gray-700 dark:border-gray-600"
                          >
                          <li 
                            *ngFor="let ven of vendorList"
                            (click)="onSelectVendor(ven)"
                            class="px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100 dark:text-white dark:hover:bg-gray-600"
                            >
                              <ng-container *ngIf="inwardForm.get('inwardFromCode')?.value == 268">
                                {{ven.vendorName}}
                              </ng-container>
                              <!-- <ng-container *ngIf="inwardForm.get('inwardFromCode')?.value == 269">
                                {{ven.productName}} - Qty:{{ven.productQuantity}}
                              </ng-container> -->
                          </li>
                        </ul>
                    <!-- <select
                      #id
                      formControlName="CustomerOrVendor"
                      class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                      required
                    >
                      
                      <option
                        *ngFor="let vendor of vendorList"
                        [ngValue]="vendor.vendorId"
                      >
                        {{ vendor.vendorName }}
                      </option>
                    </select> -->
                  </div>
                
                  <div
                    *ngIf="inwardForm.get('inwardFromCode')?.value"
                    class="col-span-6 mt-4"
                  >
                    <div class="flex items-center gap-2">
                      <label
                        for="Branch"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >To</label
                      >
                    </div>
    
                    <input
                      type="text"
                      value="Cloute Technologies Private Limited"
                      class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </form>
            <!-- <div class="flex justify-end">
              <button
                (click)="inwardHeader(inwardFormHeader.value)"
                type="submit"
                class="hover:bg-primary-800 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4"
              >
                Add Header
              </button>
            </div> -->
            <div *ngIf="header" class="col-span-full flex flex-col">
              <div class="-m-1.5 overflow-x-auto">
                <div class="inline-block min-w-full p-1.5 align-middle">
                  <div class="overflow-hidden rounded-lg border">
                    <table class="min-w-full divide-y divide-gray-200 bg-white">
                      <tbody class="divide-y divide-gray-200">
                        <tr>
                          <td
                            class="px-6 py-3 text-start text-xs font-semibold uppercase text-purple-800"
                          >
                            Reference No
                          </td>
                          <td
                            class="whitespace-nowrap px-6 py-4 text-sm text-gray-500"
                          >
                            <span class="font-semibold">{{
                              header?.tranRefNo
                            }}</span>
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="px-6 py-3 text-start text-xs font-semibold uppercase text-purple-800"
                          >
                            Branch
                          </td>
                          <td
                            class="whitespace-nowrap px-6 py-4 text-sm text-gray-800"
                          >
                            {{ header?.branchName }}
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="px-6 py-3 text-start text-xs font-semibold uppercase text-purple-800"
                          >
                            Vendor
                          </td>
                          <td
                            class="whitespace-nowrap px-6 py-4 text-sm text-gray-800"
                          >
                            {{ header?.vendorName }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="flex w-full items-center justify-end">
                <button
                  (click)="deleteHeader()"
                  type="button"
                  class="mt-2 inline-flex items-center rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                >
                  <svg
                    class="h-5 w-5 text-red-600"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                      clip-rule="evenodd"
                    />
                  </svg>
  
                  Delete Header
                </button>
              </div>
            </div>
  
            <h3
              class="mb-4 mt-12 text-lg font-semibold text-gray-900 dark:text-white"
            >
              Add Product Details
            </h3>
            <form [formGroup]="inwardForm">
              <div class="mb-4 grid gap-4 sm:grid-cols-8">
                <div class="col-span-full">
                  <!-- Start coding here -->
                  <div class="relative bg-white dark:bg-gray-800 sm:rounded-lg">
                    <div class="flex items-center gap-4 p-4">
                      <div class="relative w-full -ml-4">
                        <div
                          class="pointer-events-none absolute inset-y-0 left-0 flex w-full items-center pl-3"
                        >
                          <svg
                            aria-hidden="true"
                            class="h-5 w-5 text-gray-500 dark:text-gray-400"
                            fill="currentColor"
                            viewbox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </div>
                        <input
                          type="text"
                          formControlName="searchInput"
                          class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2 pl-10 text-sm text-gray-900 focus:border-purple-500 focus:ring-purple-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-purple-500 dark:focus:ring-purple-500"
                          placeholder="Search"
                          required=""
                        />
                        <div *ngIf="noResults" class="absolute mt-1 text-sm text-red-600">
                          <small>No Products found.</small>
                        </div>
                        <ul 
                          *ngIf="storeProductData && 
                          storeProductData.length > 0 &&
                          inwardForm.get('inwardFromCode')?.value == 268 || 
                          inwardForm.get('inwardFromCode')?.value == 269" 
                          class="absolute border-none z-10 w-full mt-1 bg-white rounded-lg border border-gray-300 shadow-lg dark:bg-gray-700 dark:border-gray-600"
                          >
                          <li 
                            *ngFor="let prod of storeProductData"
                            (click)="onSelectProduct(prod)"
                            class="px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100 dark:text-white dark:hover:bg-gray-600"
                            >
                              <ng-container *ngIf="inwardForm.get('inwardFromCode')?.value == 268">
                                {{prod.productName}} - {{prod.productDescription}} - {{prod.productModel}}
                              </ng-container>
                              <ng-container *ngIf="inwardForm.get('inwardFromCode')?.value == 269">
                                {{prod.productName}} - {{prod.productDescription}} - {{prod.productModel}}
                              </ng-container>
                          </li>
                        </ul>
                      </div>
  
                      <!-- <div>
                        <button
                          (click)="fetchProductData()"
                          type="button"
                          class="flex items-center justify-center text-nowrap rounded-lg bg-purple-700 px-4 py-2 text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800"
                        >
                          Search
                        </button>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div *ngIf="productData && !noResults && isProductSelected" class="col-span-full flex flex-col">
                  <div class="-m-1.5 overflow-x-auto">
                    <div class="inline-block min-w-full p-1.5 align-middle">
                      <div class="overflow-hidden rounded-lg border">
                        <table
                          class="min-w-full divide-y divide-gray-200 bg-white"
                        >
                          <tbody class="divide-y divide-gray-200" *ngFor="let pro of productData">
                            <tr>
                              <td
                                class="px-6 py-3 text-start text-xs font-semibold uppercase text-purple-800"
                              >
                                Product Code
                              </td>
                              <td
                                class="whitespace-nowrap px-6 py-4 text-sm text-gray-500"
                              >
                                <span class="font-semibold">{{
                                  pro.productCode
                                }}</span>
                              </td>
                            </tr>
                            <tr>
                              <td
                                class="px-6 py-3 text-start text-xs font-semibold uppercase text-purple-800"
                              >
                                Product Name
                              </td>
                              <td
                                class="whitespace-nowrap px-6 py-4 text-sm text-gray-800"
                              >
                                <span class="font-semibold">{{
                                  pro.productName
                                }}</span>
                              </td>
                            </tr>
                            <tr>
                              <td
                                class="px-6 py-3 text-start text-xs font-semibold uppercase text-purple-800"
                              >
                                Description
                              </td>
                              <td
                                class="whitespace-nowrap px-6 py-4 text-sm text-gray-800"
                              >
                                {{ pro.productDescription }}
                              </td>
                            </tr>
                            <tr>
                              <td
                                class="px-6 py-3 text-start text-xs font-semibold uppercase text-purple-800"
                              >
                                Price
                              </td>
                              <td
                                class="whitespace-nowrap px-6 py-4 text-sm text-gray-800"
                              >
                                {{ pro.productPrice }}
                              </td>
                              <!-- <td
                                class="px-6 py-3 text-start text-xs font-semibold uppercase text-purple-800"
                              >
                                GST
                              </td>
                              <td
                                class="whitespace-nowrap px-6 py-4 text-sm text-gray-800"
                              >
                                {{ productData?.prdGstPct }}
                              </td> -->
                            </tr>
                            <tr>
                              <td
                                class="px-6 py-3 text-start text-xs font-semibold uppercase text-purple-800"
                              >
                                Current Quantity
                              </td>
                              <td
                                class="whitespace-nowrap px-6 py-4 text-sm text-gray-800"
                              >
                                {{ pro.productQuantity }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  formArrayName="product_form"
                  class="gap-4 col-span-full flex flex-col"
                  >
                  <div
                    *ngFor="let product of productDetails.controls; let i = index"
                    [formGroupName]="i"
                    class="flex flex-auto gap-4 w-full"
                  >
                      <div class="flex-1">
                        <label
                          for="brand"
                          class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                          >GST percentage</label
                        >
                        <div class="flex flex-col">
          
                          <select
                            formControlName="gst"
                            class="block rounded-lg w-full border border-gray-300 border-gray-100 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:border-s-gray-700 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                            [ngClass]="{
                              error:
                                product.get('gst')?.invalid &&
                                product.get('gst')?.touched
                            }"
                            required
                          >
                            <option *ngFor="let g of gstPercentages" [ngValue]="g">{{ g }}</option>

                            
                          </select>
                          <small 
                            *ngIf="
                              product?.get('gst')?.invalid &&
                              product?.get('gst')?.touched
                            "
                            class="text-danger mt-1 text-red-600">
                            Select GST!
                          </small>
                        </div>
                      </div>
                      
        
                      <div class="flex-1">
                        <label
                          for="category"
                          class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                          >Quantity</label
                        >
                        <input
                          type="number"
                          (change)="compareQuantity(i, product.get('quantity')?.value)"
                          formControlName="quantity"
                          class="w-full focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                          placeholder=""
                          [ngClass]="{
                            error:
                              product.get('quantity')?.invalid &&
                              product.get('quantity')?.touched
                          }"
                          required
                        />
        
                        <small 
                          *ngIf="
                            product?.get('quantity')?.hasError('required') &&
                            product?.get('quantity')?.touched
                          "
                        class="text-danger text-red-600">
                          Quantity required! 
                        </small>
                        <small
                          *ngIf="
                          product.get('quantity')?.hasError('quantityExceed') &&
                          product.get('quantity')?.touched
                          "
                          class="text-danger text-red-600">
                            Entered quantity is greater than available stock!
                        </small>
                      </div>
                      <div class="flex-1">
                        <label
                          for="price"
                          class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                          >Price</label
                        >
                        <input
                          type="number"
                          formControlName="price"
                          class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                          placeholder=""
                          [ngClass]="{
                            error:
                              product.get('price')?.invalid &&
                              product.get('price')?.touched
                          }"
                          required
                        />
                        <small
                          *ngIf="
                            product?.get('price')?.invalid &&
                            product?.get('price')?.touched
                          " 
                         class="text-danger text-red-600">
                          Price required! 
                        </small>
                      </div>
                    </div>
                </div>
              </div>
              <div class="flex items-center justify-end gap-2">
                <button
                  [disabled]="inwardForm.invalid"
                  (click)="addProductList(inwardForm.value, selectedProductId)"
                  type="submit"
                  [ngClass]="{
                    'bg-gray-400':
                      inwardForm.invalid,
                    'hover:bg-gray-400':
                      inwardForm.invalid
                  }"
                  class="hover:bg-primary-800 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4"
                >
                  <svg
                    class="-ml-1 mr-1 h-6 w-6"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  Add Item
                </button>
                <!-- <button
                  type="submit"
                  (click)="saveInwardOrOutward(inwardForm.value)"
                  class="me-2 rounded-lg bg-green-600 px-5 py-2.5 text-sm font-medium text-white transition-all duration-500 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-600 dark:focus:ring-green-800"
                >
                  <svg
                    class="mr-1 inline-flex h-5 w-5 items-center justify-center text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                    />
                  </svg>
    
                  Save
                </button> -->
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="productList.length > 0">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Product List
          </h3>
          <div
            class="relative mt-10 overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg"
          >
            <div class="overflow-x-auto">
              <table
                class="w-full text-left text-sm text-gray-500 dark:text-gray-400"
              >
                <thead
                  class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
                >
                  <tr>
                    <th scope="col" class="px-4 py-3">Product Code</th>
                    <th scope="col" class="px-4 py-3">Product</th>
                    <th scope="col" class="px-4 py-3">Model Number</th>
                    <th scope="col" class="px-4 py-3">Quantity</th>
                    <th scope="col" class="px-4 py-3">Gst Amount</th>
                    <th scope="col" class="px-4 py-3">Total Price Without GST</th>
                    <th scope="col" class="px-4 py-3">Total Price With GST</th>
                    <th scope="col" class="px-4 py-3">
                      <span class="sr-only">Actions</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let p of productList"
                    class="border-b dark:border-gray-700"
                  >
                    <th
                      scope="row"
                      class="whitespace-nowrap px-4 py-3 font-medium text-gray-900 dark:text-white"
                    >
                      {{ p.productCode }}
                    </th>
                    <td class="px-4 py-3">{{ p.productName }}</td>
                    <td class="px-4 py-3">{{ p.productModel }}</td>
                    <td class="px-4 py-3">{{ p.productQuantity }}
                    </td>
                    <td class="px-4 py-3">{{ p.gstAmount | number}}
                      <small class="py-3">({{p.gst}}% GST)</small>
                    </td>
                    <td class="px-4 py-3">
                      {{ p.productPrice }}
                    </td>
                    <td class="px-4 py-3">
                      {{ p.productPriceWithGst }}
                    </td>
                    <td class="flex items-center justify-end px-2 py-3">
                      <button
                        (click)="deleteItem(p)"
                        type="submit"
                        class="inline-flex items-center rounded-lg bg-red-600 px-2 py-2 text-center text-sm font-medium text-white transition-all duration-500 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                      >
                        <svg
                          class="mr-1 h-5 w-5 text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                          />
                        </svg>
            
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="productList && productList.length > 0"
          class="w-52 mt-5 absolute bottom-25 right-64 mb-52">
            <div class="rounded-lg border border-gray-300 shadow-sm bg-white -mr-32">
              <div class="p-5 ml-52">
                <p class="text-md font-semibold text-gray-700 -ml-40"
                >Total Amount: <span class="text-blue-600">{{ totalAmount | currency:'INR' }}</span>
                </p>
                <p 
                class="text-md font-semibold text-gray-700 -ml-40"
                >Total GST: <span class="text-blue-600">{{totalGst | currency:'INR'}}</span></p>
                <p class="text-md font-semibold text-gray-700 -ml-40"
                >Total: <span class="text-blue-600">{{grandTotal | currency:'INR'}}</span></p>
            
            </div>
            </div>
            
        </div>
        <div
          *ngIf="productList.length > 0"
          class="mt-40 flex items-center justify-end"
        >
        <button
            type="submit"
            [ngClass]="{
              'bg-gray-400':
                inwardForm.invalid,
              'hover:bg-gray-400':
                inwardForm.invalid
            }"
            [disabled]="inwardForm.invalid || noCustomer == true || noVendor == true || noResults == true"
            (click)="saveInwardOrOutward(inwardForm.value, selectedCustomerId, selectedVendorId)"
            class="me-2 rounded-lg bg-green-600 px-5 py-2.5 text-sm font-medium text-white transition-all duration-500 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-600 dark:focus:ring-green-800"
          >
            <svg
              class="mr-1 inline-flex h-5 w-5 items-center justify-center text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>

            Save
          </button>
        </div>
      </div>
  
      <!-- Start coding here -->
    </div>
  </section>
  <!-- <section *ngIf="isSuccess">
    <app-success
      [successData]="transactionID"
      (closeSuccess)="closeSuccess($event)"
    ></app-success>
  </section> -->
  